
/* COLORS */

$black: #161616;
$blue: #0000ff;
$light: #ddd /*|| #f8f9fa*/;
$dark: #0d0d0d;
$textColor: #8c8e95;

$backgroundColor: #F6F6F6;

/* NAVBAR */
$navbarHeight: 100px;

/* TRANSITIONS */
$tEase: cubic-bezier(0.69, 0.04, 0.36, 1);
$tDuration1: 100ms;
$tDuration2: 300ms;
$tDuration3: 1000ms;

/* FONTS */
$fontText: 'HK-GROTESK', 'Helvetica', sans-serif;